.table, th, td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(160 160 160);
}
th{
    background-color: lightgray;
}